<% content_for :head do %>
  <%= stylesheet_link_tag "default" %>
  <%= stylesheet_link_tag "main", :media => "screen and (min-device-width: 481px)" %>
  <%= stylesheet_link_tag "mobile", :media => "screen and (max-device-width: 480px)" %>
  <%= javascript_include_tag "http://www.google.com/jsapi?key=ABQIAAAA6xOQSzg1vY1kb3Oind4DWxS6wmucxyPyZRD4GEjyZVIp_7_-chSlNeLzwuQqUrNOQ-6zQjKiAhg7uA" %> 
  <%= javascript_include_tag "ajaxlibs", "latlong", "maps" %> 
<% end %>

<div id="data"> 
  <div id="creator"><%= @flying_object.created_by %></div> 
  <div id="startLat"><%= @flying_object.start_lat %></div>
  <div id="startLon"><%= @flying_object.start_lon %></div>
  <div id="aimLat"><%= @flying_object.aim_lat %></div>
  <div id="aimLon"><%= @flying_object.aim_lon %></div>
  <div id="startTime"><%= @flying_object.created_at %></div>
  <div id="speed"><%= @flying_object.speed %></div> 
</div>
<div id="content"> 
  <div id="header"><h1>global pong</h1></div> 
  <div id="map"></div> 
  <div id="badge"> 
   <h2><%= @flying_object.name %></h2>

   <p>This ball was created by <span class="info"><%= @flying_object.created_by %></span> on <span class="info"><%= @flying_object.created_at %></span></p>

   <p>It was launched from (<span class="info"><%= @flying_object.start_lat %></span>,<span class="info"><%= @flying_object.start_lon %></span>) heading towards (<span class="info"><%= @flying_object.aim_lat %></span>,<span class="info"><%= @flying_object.aim_lon %></span>) at <span class="info"><%= @flying_object.speed %></span> km/h</p>

   <p>It is now located at (<span class="info" id="currentLat"></span>,<span class="info" id="currentLon"></span>)</p> 
  </div> 
</div>
